# 복습
1. corona.csv 파일을 로드
2. 결측치가 존재하는지 확인
3. Unnamed: 0 컬럼 삭제
4. 컬럼의 이름 변경 -> [등록일시, 사망자, 확진자, 게시글번호, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율]
5. 등록일시 기준으로 오름차순 정렬, 인덱스 리셋 (기존의 인덱스 삭제)
6. 새로운 파생변수 일일 사망자, 일일 확진자 생성
7. 게시글번호, 기준일, 기준시간 컬럼을 삭제
8. 일일사망자, 일일확진자 안의 값이 음수인 행을 삭제

In [1]:
import pandas as pd

In [2]:
corona = pd.read_csv('../csv/corona.csv')
corona

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [ ]:
corona.drop(['Unnamed: 0'], axis=1, inplace=True) # corona.iloc[:, 1:] - 같은 방법
corona

In [7]:
corona.columns = ['등록일시', '사망자', '확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자','누적확진율']
corona

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [25]:
corona.sort_values(['등록일시'], ascending=True, inplace=True) # corona.sort_values(['등록일시'], ascending=True).reset_index(drop=True, inplace=True)
corona.reset_index(drop=True, inplace=True)
corona

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...
814,2022-06-04 08:56:49.219,24238,18153814,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
815,2022-06-05 08:53:19.426,24258,18163648,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
816,2022-06-06 09:00:06.734,24279,18168670,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
817,2022-06-07 09:09:00.897,24299,18174842,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
818,2022-06-08 09:09:05.982,24305,18188200,NaN,NaN,NaN,6.0,13358.0

In [26]:
corona['일일사망자'] = corona['사망자'].diff()
corona['일일확진자'] = corona['확진자'] - corona['확진자'].shift()
corona

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...
814,2022-06-04 08:56:49.219,24238,18153814,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
815,2022-06-05 08:53:19.426,24258,18163648,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
816,2022-06-06 09:00:06.734,24279,18168670,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
817,2022-06-07 09:09:00.897,24299,18174842,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
818,2022-06-08 09:09:05.982,24305,18188200,NaN,NaN,NaN,6.0,13358.0

In [ ]:
corona.drop(['게시글번호','기준일','기준시간'], axis=1, inplace=True)
corona

In [28]:
corona.isna().sum()

등록일시       0
사망자        0
확진자        0
수정일시       3
누적의심자    128
누적확진율    197
일일사망자      1
일일확진자      1
dtype: int64

In [17]:
corona[corona['일일사망자'] < 0] # error_index = corona[corona['일일사망자'] < 0].index # corona.drop(error_index, axis=0, inplace=True)

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
446,2021-05-30 00:00:00.000,1957,139907,2021-10-07 10:30:51.51,9747612.0,1.454166,-2.0,-430.0

In [ ]:
corona.drop(446, axis=0, inplace=True)

In [29]:
corona

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...
814,2022-06-04 08:56:49.219,24238,18153814,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
815,2022-06-05 08:53:19.426,24258,18163648,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
816,2022-06-06 09:00:06.734,24279,18168670,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
817,2022-06-07 09:09:00.897,24299,18174842,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
818,2022-06-08 09:09:05.982,24305,18188200,NaN,NaN,NaN,6.0,13358.0

In [30]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록일시    819 non-null    object
 1   사망자     819 non-null    int64
 2   확진자     819 non-null    int64
 3   수정일시    816 non-null    object
 4   누적의심자   691 non-null    float64
 5   누적확진율   622 non-null    float64
 6   일일사망자   818 non-null    float64
 7   일일확진자   818 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 51.3+ KB